@model recipes_system.Models.InstructionDto

@{
    ViewBag.Title = "Details";
}
<a class="btn btn-primary" href="/instruction/List">Go back to list</a>
<h2>@Model.InstructionName</h2>
<div>@Model.InstructionId</div> 
<div>@Model.Description</div>

