@model recipes_system.Models.RecipeDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit recipe</h2>
<a class="btn btn-primary" href="/recipe/List">Go back to list</a>
<form action="/recipe/Update/@Model.RecipeId" method="POST">
    <div style="display:none;">
        @* Pass through the animal ID *@
        <input type="text" name="RecipeId" value="@Model.RecipeId" />
    </div>
    <div class="form-group m-3">
        <label>Name:</label> <input class="form-control" value="@Model.Title" type="text" name="Title" />
    </div>
    <div class="form-group m-3">
        <label>Categories:</label> <input class="form-control" value="@Model.Categories" type="text" name="Categories" />
    </div>
    <div class="form-group m-3">
        <label>Ingridents:</label> <input class="form-control" value="@Model.Ingridents" type="text" name="Ingridents" />
    </div>
    <div class="form-group m-3">
        <input type="submit" value="Update recipe" class="btn btn-primary" />
    </div>
</form>


